/* src/app/projects/Projects.module.css */

.gallery {
    --g: 8px;   /* the gap */
    --s: 40vw; /* the size */
    display: grid;
    border-radius: 50%;
    position: relative; /* Ensure proper positioning */
    width: var(--s);
    height: var(--s);
    gap: var(--g);
  }
  
  .gallery > img {
    grid-area: 1 / 1;
    width: var(--s);
    height: var(--s);
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x, 0), var(--_y, 0));
    cursor: pointer;
    z-index: 0;
    transition: transform 0.3s ease, clip-path 0.3s ease, filter 0.3s ease, z-index 0s 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  
  .gallery > img:hover {
    --_i: 1;
    z-index: 1;
    
    
    /* Existing transitions */
    transition: transform 0.2s ease, clip-path 0.3s ease 0.2s, filter 0.3s ease, z-index 0s;
  }
  
  .gallery:hover img {
    transform: translate(0, 0);
  }
  
  /* Individual Image Clip-Paths */
  .gallery > img:nth-child(1) {
    clip-path: polygon(
      50% 50%,
      calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)),
      0 calc(100% * var(--_i, 0)),
      0 0,
      100% 0,
      100% calc(100% * var(--_i, 0)),
      calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0))
    );
    --_y: calc(-1 * var(--g));
  }
  
  .gallery > img:nth-child(2) {
    clip-path: polygon(
      50% 50%,
      calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
      calc(100% - 100% * var(--_i, 0)) 0,
      100% 0,
      100% 100%,
      calc(100% - 100% * var(--_i, 0)) 100%,
      calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
    );
    --_x: var(--g);
  }
  
  .gallery > img:nth-child(3) {
    clip-path: polygon(
      50% 50%,
      calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)),
      100% calc(100% - 120% * var(--_i, 0)),
      100% 100%,
      0 100%,
      0 calc(100% - 100% * var(--_i, 0)),
      calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0))
    );
    --_y: var(--g);
  }
  
  .gallery > img:nth-child(4) {
    clip-path: polygon(
      50% 50%,
      calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
      calc(100% * var(--_i, 0)) 0,
      0 0,
      0 100%,
      calc(100% * var(--_i, 0)) 100%,
      calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
    );
    --_x: calc(-1 * var(--g));
  }

  /* Projects.module.css */

.overlay {
    /* Existing styles */
    transition: opacity 0.3s ease;
  }
  
  .modal {
    /* Existing styles */
    transform: translateY(-50px);
    transition: transform 0.3s ease;
  }
  
  .is-open .overlay {
    opacity: 1;
  }
  
  .is-open .modal {
    transform: translateY(0);
  }